# Kickstarter Data Cleaning/Wrangling
This notebook contains the steps taken to explore and clean the data collected from [Kaggle](https://www.kaggle.com/kemical/kickstarter-projects?select=ks-projects-201801.csv).

In [92]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os

In [93]:
df = pd.read_csv('data/ks-projects-201801.csv', index_col = 'ID', parse_dates = ['deadline', 'launched'])
df.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [94]:
columns = df.columns
print(columns)

Index(['name', 'category', 'main_category', 'currency', 'deadline', 'goal',
       'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged',
       'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [95]:
df.dtypes

name                        object
category                    object
main_category               object
currency                    object
deadline            datetime64[ns]
goal                       float64
launched            datetime64[ns]
pledged                    float64
state                       object
backers                      int64
country                     object
usd pledged                float64
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

In [96]:
df.shape

(378661, 14)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378661 entries, 1000002330 to 999988282
Data columns (total 14 columns):
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null datetime64[ns]
goal                378661 non-null float64
launched            378661 non-null datetime64[ns]
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 43.3+ MB

Thankfully, most columns contain no null values except for `df['usd pledged']` and `df['name']`, however, as the name of a project shouldn't provide too much insight on the probability of success of a project, these null values will just be left the same.

In [98]:
df[df['usd pledged'].isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.0,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",NaN,555.00,6500.00
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.0,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",NaN,3402.08,3211.53
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.0,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",NaN,3576.00,3500.00
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.0,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",NaN,7007.80,6000.00
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.0,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",NaN,3660.38,3000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03,7500.0,2014-12-05 04:19:14,10.00,undefined,0,"N,0""",NaN,10.00,7500.00
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.0,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",NaN,2845.61,2752.04
9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05,5000.0,2016-01-06 21:59:23,235.00,undefined,0,"N,0""",NaN,235.00,5000.00
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.0,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",NaN,3273.36,3080.81
999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,1600.0,2015-10-21 21:28:13,0.00,undefined,0,"N,0""",NaN,0.00,1710.08

Upon inspecting the rows that contain null values in `df['usd pledged']`, it seems that these values should be filled in with `0` as the number of backers in these rows are also `0` (meaning no user has donated money to these projects).

Also, it seems that these rows also contain the value `N,0"` in the `df['country']` column. An easy way to replace these values will be to use the information from `df['currency']`. If the currency is in USD, the country should be US; if the currency is AUD, the country should be Austrailia, and so forth. This will be fixed in later cells of the notebook.

### Replacing null values

In [99]:
df[df['usd pledged'].isnull()]['backers'].value_counts() # check how many of the null value rows also have 0 backers

0    3797
Name: backers, dtype: int64

In [100]:
df['usd pledged'].fillna(0, inplace = True)

### Fixing erroneous values in Country column

In [101]:
df['country'].value_counts() # all countries that are in this dataset

US      292627
GB       33672
CA       14756
AU        7839
DE        4171
N,0"      3797
FR        2939
IT        2878
NL        2868
ES        2276
SE        1757
MX        1752
NZ        1447
DK        1113
IE         811
CH         761
NO         708
HK         618
BE         617
AT         597
SG         555
LU          62
JP          40
Name: country, dtype: int64

In [102]:
df[df['country'].str.contains('N,0')]['currency'].value_counts()

USD    2738
GBP     460
CAD     206
EUR     186
AUD     111
SEK      31
NZD      28
DKK      16
NOK      14
CHF       7
Name: currency, dtype: int64

The list above has the currencies of the rows that contain `N,0"` in the `df['country']` column. The currencies will be used to change the erroneous value to the correct country codes.

In [103]:
fix_countries = {
    'USD': 'US',
    'GBP': 'GB',
    'CAD': 'CA',
    'AUD': 'AU',
    'SEK': 'SE',
    'NZD': 'NZ',
    'DKK': 'DK',
    'NOK': 'NO',
    'CHF': 'CH',
    'EUR': 'EU'
}

Rows that contain 'EUR' will be switched to 'EU' simply because many countries use the Euro currency and there is no way of telling which country the project is from if the country is using Euros.

In [104]:
error_cond = df['country'] == 'N,0"'
df.loc[error_cond,'country'] = df.loc[error_cond, 'currency'].map(fix_countries)

In [106]:
df['country'].value_counts() # no longer contains 'N,0"' in the country column

US    295365
GB     34132
CA     14962
AU      7950
DE      4171
FR      2939
IT      2878
NL      2868
ES      2276
SE      1788
MX      1752
NZ      1475
DK      1129
IE       811
CH       768
NO       722
HK       618
BE       617
AT       597
SG       555
EU       186
LU        62
JP        40
Name: country, dtype: int64

### Further analysis for cleaning data

In [107]:
for column in columns:
    if df[column].dtype == object:
        print(column)
        print(df[column].value_counts())
        print('-----------------------------------')

name
New EP/Music Development                                        41
Canceled (Canceled)                                             13
N/A (Canceled)                                                  11
Music Video                                                     11
Debut Album                                                     10
                                                                ..
The Devil's Bitch                                                1
Collections: Eugène Achard & Henry Longfellow                    1
Tabletop Tyrant Miniature Wargaming Storage / Model Cases        1
El doctor and Derpy merchandise (Canceled)                       1
"The Songs We Sing"  - funding for an album that kicks butt!     1
Name: name, Length: 375764, dtype: int64
-----------------------------------
category
Product Design     22314
Documentary        16139
Music              15727
Tabletop Games     14180
Shorts             12357
                   ...
Residencies           69
Letterpress           49
Chiptune              35
Literary Spaces       27
Taxidermy             13
Name: category, Length: 159, dtype: int64
-----------------------------------
main_category
Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64
-----------------------------------
currency
USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64
-----------------------------------
state
failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64
-----------------------------------
country
US    295365
GB     34132
CA     14962
AU      7950
DE      4171
FR      2939
IT      2878
NL      2868
ES      2276
SE      1788
MX      1752
NZ      1475
DK      1129
IE       811
CH       768
NO       722
HK       618
BE       617
AT       597
SG       555
EU       186
LU        62
JP        40
Name: country, dtype: int64
-----------------------------------

### Look for duplicate rows

In [108]:
df[df.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

At this point, the data is cleaned and ready for the next step of analysis (EDA).

In [109]:
df.to_csv('data/cleaned_kickstarter.csv')